body {
    font-family: "Montserrat", sans-serif;
    background-color: #FAFAFA;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: currentColor
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}
.address {
    font-style: normal;
}
img {
    display: block;
}
.container {
    max-width: 100%;
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1/17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    }
.section-title span {
    color: #FD9222;
}

/*-------------header------------*/
.header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    gap: 90px;
    
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.header-logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    gap: 4px;
}
.header-logo-italic {
    font-style: italic;
    margin-right: 5px;
}
.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-menu-link:hover {
    color: #FD9222;
    cursor: pointer;
}
.header-menu-link:focus {
    color: #FD9222;
}

.header-menu-list {
    display: flex;
    gap: 24px;
}
.header-soc-lisl {
    display: flex;
    gap: 14px;
}

.header-soc-icon {
    fill: transparent;
    stroke: #111111;
}

/*-------------------------------*/
/*---------------hero------------*/
.main {

}

.hero {
    padding-bottom: 80px;
}
.hero-container {
    background: rgba(17, 17, 17, 0.60);
    background-image: linear-gradient(rgba(17, 17, 17, 0)0%, rgba(17, 17, 17, 0.4)), url(../img/hero-chocolate-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1,21;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    max-width: 484px;
}
.hero-buttons {
    display: flex;
    align-items: center;
}

.hero-buy-btn {
    padding: 14px 40px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    background-color: #FD9222;
    border: none;
    cursor: pointer;
    margin-right: 14px;
    transition: all 450ms ease-in-out;
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
color: #FD9222;
background-color: #FCF1E0;
}

.hero-made-btn {
    padding: 14px 40px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    transition: all 450ms ease-in-out;
}

.hero-made-btn:hover,
.hero-made-btn:focus {
    color: #FD9222;
    border-color: #FD9222;
}

.hero-down-btn {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    margin-left: auto;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    transition: all 450ms ease-in-out;
}
.scroll-icon {
    fill: #FAFAFA;
    stroke: #FD9222;
    transition: all 450ms ease-in-out;
}
.hero-down-btn:hover,
.hero-down-btn:focus {
color: #FD9222;
}
.hero-down-btn:hover>.scroll-icon,
.hero-down-btn:focus>.scroll-icon {
fill: #FD9222;
stroke: #FAFAFA;
}
/*-------------------------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*------------features-----------*/

.features {
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-list {
    display: flex;
    padding-left: 18;
    padding-right: 18px;
    gap: 88px;
}

.features-item {
    width: calc((100% - 88 * 2) / 3);
    position: relative;
}

.features-item:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 124px;
    right: -44px;
    top: 0;
    position: absolute;
    display: block;
    background-color: #FFFFFF;
    top: 50%;
    transform: translateY(-50%);
}

.features-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.features-item-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
/*-------------------------------*/
/*-------------taste-------------*/

.taste {
    padding-top: 120px;
}

.taste-title {
    margin-bottom: 28px;
    max-width: 412px;
    margin: 0 auto 28px;
}


.taste-text {
    color: #111;
    max-width: 486px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.03;
    margin: 0 auto;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}

.taste-item {
    border-radius: 15px;
    border: 1px solid #FD9222;
    background: #FFF;
    width: calc((100% - 32px * 3) / 5);
    padding: 28px 23px;
}

.taste-img {
    margin: 0 auto;
    margin-bottom: 36px;
}

.taste-subtitle {
    color: #111;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.28;
        letter-spacing: -0.02em;
        padding-left: 5px;
}

/*------------------------------*/
/*-------------made-------------*/

.made {
    margin-top: 120px;
}

.made-title {
    margin-bottom: 50px;
}



.made-wrap {
    display: flex;
    gap: 20px;
}

.made-img {}

.made-content {
    background-color: #FFFFFF;
    padding: 32px;
}

.made-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    max-width: 350px;
    margin-bottom: 28px;

}

.made-list {}

.made-item + .made-item {
    margin-top: 20px;
}

.made-item {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.made-item::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #111111;
    border-radius: 50%;
    border: 1px solid #ECEDED;
    flex-shrink: 0;
}

.made-item-text {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
/*------------------------------*/
/*------------products----------*/

.products{
    margin-top: 120px;
}

.products-title {
    margin-bottom: 50px;
}

.products-cards {
    display: flex;
    
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px 24px;
}

.products-item {
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FFF;
    display: block;
    width: calc((100% - 18 *3) / 4);
    padding: 32px 20px;
    text-align: center;
}

.products-img {
    margin-bottom: 8px;
}

.products-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 0 auto;
}

.products-item-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin: 0 auto;
}

.products-item-btn {
    color: #111;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 18px;
}

/*------------------------------*/
/*------------sellers-----------*/

.sellers {margin-top: 120px;}

.sellers {
    margin-bottom: 50px;
}

.sellers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.sellers-item {
    border-radius: 15px 15px 0px 0px;
    border-color: transparent;
    width: calc((100% - 16 * 2) / 3);
    position: relative;
}

.sellers-img {
    margin-bottom: 28px;
}

.sellers-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.03;
    text-transform: uppercase;
    margin-bottom: 28px;
}
.cover-wrap {
    position: relative;
    overflow: hidden;
}

.sellers-item:hover .overlay-wrap {
    transform: translateY(0%);
}

.overlay-wrap{
position: absolute;
display: flex;
align-items: center;
padding: 0 40px;
top: 0;
background: linear-gradient(165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%);
border-radius: 15px 15px 0px 0px;
backdrop-filter: blur(7.5px);
height: 100%;
transform: translateY(100%);
transition: transform 300ms linear;
}

.sellers-overlay {
color: #fafafa;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
}

/*------------------------------*/
/*-------------loved------------*/

.loved {
    margin-top: 120px;

}

.loved-title {
    margin-bottom: 50px;
}

.section-title {
}

.loved-list {
    display: flex;
    gap: 28px;
}

.loved-item {
    padding: 24px;
    width: calc((100% - 28px * 2) / 3);
    padding: 56px 18px 18px 18px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
    position: relative;
}

.loved-img {
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translate(-50%);
    border-radius: 50%;
}

.loved-subtitle {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.loved-item-text {
    color: rgba(17, 17, 17, 0.70);
    max-width: 312px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.loved-btn-review {
    color: #111;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid #FD9222;
    padding: 14px 40px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    transition: all 450ms ease-in-out;
}

.loved-btn-review:hover,
.loved-btn-review:focus {
    color: #FFFFFF;
    background-color: #FD9222;
}

/*------------------------------*/
/*-------------footer-----------*/

.footer {
    background: #1E1823;
    margin-top: 120px;
    padding-top: 50px;
}

.footer-heading {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
    max-width: 300px;
    margin-left: 32px;
    margin-right: auto;
}
.footer-heading span {
    color: #FD9222;
}

.footer-soc-container {
    margin-right: 50px;
}

.footer-subtitle {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    margin-right: auto;
}

.footer-soc-list {
    display: flex;
    gap: 14px;
}

.footer-soc-link {
}

.footer-soc-icon {
fill: transparent;
stroke: #ffffff;
}

.footer-addres-container {
    display: flex;
    flex-direction: column;
}
.footer-addres {
}

.footer-addres-list {
    font-style: normal;
}

.footer-addres-item {color: #FFF;}

.footer-address-item + .footer-address-item {
    margin-top: 4px;
}

.footer-addres-link {
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.footer-top-container {
    display: flex;
    padding-bottom: 50px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-soc-wrap {
    display: flex;
}

.footer-navigation {
    
}

.footer-navigation-list {
    display: flex;
    gap: 24px;
}

.footer-navigation-item {}

.footer-navigation-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02;color: #FFF;
}
.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
    color: #fd9222;
}